{% extends "base.html" %}

{% block content %}
    <h2>Parking Rates</h2>
    <table>
        <thead>
            <tr>
                <th>Duration</th>
                <th>Rate (€)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1 hour</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2 to 5 hours</td>
                <td>5</td>
            </tr>
            <tr>
                <td>More than 5 hours</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
{% endblock %}